# Folders #
###########

## __pycache__ folder ##
########################
__pycache__/*

## build folder ##
##################
build/*

## dist folder ##
#################
dist/*

## settings folder ##
### This was going to save the user's settings for   ###
### future games, but this was replaced by the menu. ###
########################################################
settings/*

# File types #
##############

## .spec ##
###########
*.spec
